[user]
	name = Robert Gambee
	email = robertgambee@gmail.com
[core]
	editor = vim
	pager = delta
[branch]
	sort = -committerdate
[advice]
	mergeConflict = false
	detachedHead = false
[submodule]
	recurse = true
[rebase]
	autosquash = true
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
[fetch]
	prune = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[alias]
	new = checkout -b
